[Desktop Entry]
Encoding=UTF-8
Name=Link to Resume
Type=Link
URL=file:///home/disi/Desktop/eMobilis/course/Projects/iPortfolio/index.html#resume
Icon=text-html
